<h1>About Sol Trip</h1>
<p>
  We are a fairly new company, we opened this fine establishment of October of last year.
  We will find the perfect location for you, we will also give custom options based on what you prefer.
</p>
