/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   height: 100%;
   position: relative;
 }

 .page-wrap {
   padding-top: 3em;
 }

 .navbar {
   background-color: #484848;
 }

.navbar div, ul {
  display: ;
}

.web_name {
  padding-top: 0.7em;
}

.web_name a {
  color: #C9AE5D;
  font-size: 1.5em;
  font-family: fantasy, sans-serif;
  position: relative;
  left: 15px;
}

.web_pages {
  position: relative;
  right: 10px;
}

.web_pages li {
  display: inline-block;
  font-size: 1.45em;
  padding-left: 0.5em;
  color: #FBC299;
  font-family: Bookman, fantasy, sans-serif;
}

footer {
  text-align: center;
  font-family: sans-serif;
}

#sticky {
  width: 100%;
  padding: 7px;
  padding-bottom: 7px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  background:rgba(0, 0, 0, .5)
}

.dropup {
  display: inline-block;
}
