// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-comments {
  padding: 0px 85px;
  margin: 0px 15px;
}

@media(max-width: 780px) {
  .show-comments {
    padding: 0px;
  }
}
