// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record_name {
  text-align: left;
}

.record_image {
  height: 25em;
  width: 30em;
}

.record_description {
  border-left: 4px double #83AE9B; 
}
