// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F5DEB3;
  padding-bottom: 50px;
}

h1 {
  color: black;
  text-align: center;
  font-family: helvetica, sans-serif;
}

h2 {
  color: black;
  text-align: center;
}

h3 {
  font-family: cursive, sans-serif;
  text-align: center;
}

p {
  color: black;
  text-align: left;
}

.contact-div {
  padding: 0 95px 0 95px;
}

.contact-div div {
  max-width: 350px;
}

.contact-info {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  padding: 16px 5px 0 5px;
}

.about-text {
  padding: 0 30px 35px 30px;
}

.banner-img {
  margin: 0 auto;
}

//* landing_page styles *//
.feature-title {
  color: #f4f1d6;
  font-weight: bold;
  font-style: oblique;
  background-image: url("https://www.magneticmag.com/.image/t_share/MTQ4NDgxMjcwOTAzNDgxNTQ3/records-2211355_960_720.jpg");
}

.carousel-caption {
  border-radius: 25px;
  margin: 0 auto;
  max-width: 200px;
  color: white;
  background:rgba(0, 0, 0, .8)
}
